@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --colorprimary : #000000;
  --colorsecundary : #fff ; 
  --grey : grey; 
  ---grey-ligth: #E1E3E1;
}

body {
  padding-left:5rem ;
  padding-right: 5rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: bold;

}

.img {
  width: 19rem;
  height: 8rem;

}

a{
text-decoration: none;
color: var(--colorprimary);
}
li {
  list-style: none;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  
}

.btn {
  background-color: var(--colorprimary);
  color: var(--colorsecundary);
}

.btn:hover {
  border:  1px solid var(--colorprimary);
}


.nav_toggle {
  display: none;
}







/* fin de header  */

.banner {
  height: 650px;
}





.title {
  margin: 5rem;
  font-weight: bold;
}


.imgcard {
  height: 20rem;
  width: 19.8rem;
}

.card {
  border: 1.3px solid var(--colorprimary);
  height:43rem;
  width: 20rem;
  transition: .5s;
  align-items: center;
  margin: 5px;
}




.card-body{
 text-align: center;
 padding-bottom: 0;
  width: 15rem;
}

.btnbox{
  text-align: center;
  padding-bottom: 1rem;
  

}

.btnbox button{
  border: none;
  transition: .5s;
  height: 2rem;
  border-radius: 5px;
  margin-right: 1rem;
}



.btnbox button:hover{
  background-color: var(--colorprimary);
  color: var(--colorsecundary);
}

.card-title {

  font-weight: bold;
}


.novedades {
  flex-wrap: wrap;
}

/* fin novedades  */


.box {
  width: 20rem;
  text-align: center;
  box-shadow: 1px 5px 10px #8C8C8C;

}

.box h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}


.box .img {
  width: 20rem;
  height: 20rem;
}


/* seccion de envios  */
.containerbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7.5rem;
 

}


footer {
  width: 100%;
  border-top: 2px solid var(--colorprimary);
  padding: 0;
  justify-content: space-between;
}

.fbox {
  width: 25rem;
  text-align: center;
}

footer p {
  padding: 0;
  font-size: 0.8rem;
}

.icons {
  font-size: 1.3rem;
  margin-right: 1rem;
}


.products {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
 gap: 1rem;

}

.heart {
  color: #dc3545;
  font-size: 1.6rem;
  transition: .3s;
}

.heart:hover {
  font-size: 2rem;
}



/* marcas   */

.btnbrand {
  font-size: 1.5rem;
  margin: 1rem;
}

.carousel-item {
  transition: transform .2s ease-in-out;
  
}

.imgnovedades{
  width: 24rem;
  height: 24rem;
  box-shadow: 0px 0px 8px var(--grey);
}

.info  {
  width: 24rem;
  height: auto;
  margin: 1rem;

 
}
.text {
  padding: 1rem;
  height: auto;
  box-shadow: 2px 5px 10px var(--grey);
}

 .card-title {
font-size: 2rem;

}


.rebajas .card {
  height: 37rem;
}



/* login */


 .imgcreate {
  border-radius: .3rem;
}

.card a {
  background-color: transparent;
}


.productshop label {
  font-size: 2rem;
}

.imgproduct {
  height: 45rem;
 
}

.titleproduct {
  font-size: 4rem;
  font-weight: bold;
}

.description{
  font-size: 2.5rem;
}

select {
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  background-color: var(--grey);
  color: var(--colorsecundary);
  border-radius: .5rem;
}

select option {
  background-color: var(--colorprimary);
  color: var(--colorsecundary);
  font-size: 1rem;
}

.buy {
  width: 20rem;
  height: 3rem;
  font-size: 1.5rem;
}


/* cart */

.cart {
  background-color: var(---grey-ligth);
  display: none;
  padding: 32px ;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 400px;
  z-index: 1;
  border: 1px solid black;

}


.cart img {
  aspect-ratio: 16/9;
  width: 100%;
}

.cart li {
  border-button: 1px solid #444;
  padding-bottom: 16px;
  padding-top: 4rem;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

}

.cart footer button {
  padding: 8px;
}


.cart-button {
  align-items: center;
  
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  z-index: 9999;
}

.cart-button:hover{
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: auto;
  display: block;
}


/* favorites  */


.happy {
  color:  var(--colorprimary);
  font-size: 1.5rem;
  transition: .3s;

}

.happy:hover{
  font-size: 1.7rem;
} 


.imgfav {
  height: 15rem;
  margin: 0 1rem;
  width: 15rem;
  box-shadow: 2px 5px 10px var(--grey);
}

.main {
 display: grid;
 grid-template-columns: repeat(4 , 1fr );
 gap: 1rem;
 margin-top: 1rem;
 align-items: center;
  /*modificar en las media querys */ 
}


.container {
  box-shadow: 0px 0px 8px var(--grey);
  padding: 1rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* notfound */

.imgnot {
  height: 20rem;
  padding: 1rem;
  width: 20rem;

}

nav .navbar li {
  margin-right:1rem ;
}

nav {
  display: flex;
  
}

.cart-button {
  padding-bottom: 1rem;
}




/* movil  */
@media only screen and (max-width: 575px){

  body{
    padding: 0;
  }

  header {
    display: flex;
    flex-direction: initial;
  }
  
  nav ul  {
    display: flex;
    flex-direction: column;
  }

  div {
    display: flex;
    flex-direction: column;
    
    
  }

  .banner {
    
    width: 100%;
    height: 21rem;
  }


  .items {
    display: grid;
    grid-template-columns: 1fr  ;
    gap: 1rem;
  justify-content: center;
  }

  .card {
    width: 17rem;
    height: 30rem;
  }

  .card img {
    width: 100%;
    height:11rem ;
  }

   .card .card-body .card-title {
    font-size: 1.3rem;
  }

  .card-body {
    width: 100%;
  }

  .containerbox {
   display: grid;
   grid-template-columns: 1fr 1fr ;
   gap: 1rem;
  }


  .containerbox .box {
    width: 11rem;
  }

  .containerbox .box img {
    width: 100%;
    height: 10rem;
  }

  footer {
    flex-direction: column;
    
  }
  footer .fbox {
    padding: 1rem;
  }
  footer .fbox .icons  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  .products {
    display: grid;
    grid-template-columns: 1fr ;
    width: 100%;
    margin: 10%;
  }


  .btnbrand {
  font-size: 1rem;
  text-align: center;
    width:10rem ;
  }
  .brand {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }

  .info {
    width: 20rem;
  }
  .info div img {
    width: 100%;
    height: 12rem;
  }

  .text .card-title {
    font-size: 1.5rem;
  }


  .rebajas section .card {
    height: 25rem;
  }

  .rebajas section .card img {
    width: 100%;
    
  }

  .imgproduct {
    width: 100%;
    height: 20rem;
    margin-top: 1rem;
  }

  .text {
    padding: 0;
  }

  .titleproduct{
    font-size: 2rem;
  }

  .description {
    font-size: 1.5rem;
  }


  .productshop label {
    font-size: 1.6rem;
  }

  .rebajas {
    align-items: center;
  }
  .novedades {
    align-items: center;
  }

  .busqueda {
    align-items: center;
  }
  
  .fav .main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
 

}



@media only screen and  (max-width: 821px){
  .navbar li a {
    margin-bottom: 1rem;
}


.navbar{
  position: absolute;
  top: 110px;
  left: 0;
  
  background-color: var(---grey-ligth);
   flex-direction: column;
  width: 100%;
  height: 12.5rem;
  transform: translateX(-100%);
  transition: .3s ease all;
  margin: 0;
  padding: 0;
   position: absolute;
   z-index: 9999;
   padding: 1rem;
 
}


 .navbar.open {
  transform: translateX(0) !important;
 
}

.nav_toggle {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.nav_toggle span{
  width: 30px;
  height: 4px;
  background-color: var(--colorprimary);
  margin-bottom: 5px;
  border-radius: 2px;
  transform-origin:5px 0px ;
  transition: all 0.2s linear;
  
}

.nav_toggle.open > span{
  transform: rotate(45deg) translate(0px, 0px);

}

.nav_toggle.open > span:nth-child(2){
  display: none;
}
.nav_toggle.open > span:nth-child(3){
  transform: rotate(-45deg) translate(-5px, 1px);
}

}


/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {



  .items  {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 1rem;
  justify-content: center;
  }

  .containerbox {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  footer  {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
 .fbox h4{
    font-size: 1rem;
  }

  .fbox p {
    font-size: .6rem;
  }

  .product {
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .busqueda {
    justify-content: center;
  }

  .novedades {
    flex-direction: column;
    align-items: center;
  }




}





/* portatil */