@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --colorprimary : #000000;
  --colorsecundary : #fff ; 
  --grey : grey; 
  ---grey-ligth: #E1E3E1;
}

body {
  padding-left:5rem ;
  padding-right: 5rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: bold;

}

.img {
  width: 19rem;
  height: 8rem;
  background-color: red;
}

a{
text-decoration: none;
color: var(--colorprimary);
}
li {
  list-style: none;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  
}

.btn {
  background-color: var(--colorprimary);
  color: var(--colorsecundary);
}

.btn:hover {
  border:  1px solid var(--colorprimary);
}







/* fin de header  */

.banner {
  height: 650px;
}





.title {
  margin: 5rem;
  font-weight: bold;
}


.imgcard {
  height: 20rem;
  width: 19.8rem;
}

.card {
  border: 1.3px solid var(--colorprimary);
  height:43rem;
  width: 20rem;
  transition: .5s;
  align-items: center;
  margin: 1rem;
}




.card-body{
 text-align: center;
 padding-bottom: 0;
  width: 15rem;
}

.btnbox{
  text-align: center;
  padding-bottom: 1rem;
  

}

.btnbox button{
  border: none;
  transition: .5s;
  height: 2rem;
  border-radius: 5px;
  margin-right: 1rem;
}



.btnbox button:hover{
  background-color: var(--colorprimary);
  color: var(--colorsecundary);
}

.card-title {

  font-weight: bold;
}

/* fin novedades  */


.box {
  width: 20rem;
  text-align: center;
  box-shadow: 1px 5px 10px #8C8C8C;

}

.box h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}


.box .img {
  width: 20rem;
  height: 20rem;
}

.containerbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7.5rem;
 

}


footer {
  width: 100%;
  border-top: 2px solid var(--colorprimary);
  padding: 0;
  justify-content: space-between;
}

.fbox {
  width: 25rem;
  text-align: center;
}

footer p {
  padding: 0;
  font-size: 0.8rem;
}

.icons {
  font-size: 1.3rem;
  margin-right: 1rem;
}


.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.heart {
  color: #dc3545;
  font-size: 1.6rem;
  transition: .3s;
}

.heart:hover {
  font-size: 2rem;
}



/* marcas   */

.btnbrand {
  font-size: 2rem;
  margin: 1rem;
}

.carousel-item {
  transition: transform .2s ease-in-out;
  
}

.imgnovedades{
  width: 24rem;
  height: 24rem;
  box-shadow: 0px 0px 8px var(--grey);
}

.info  {
  width: 24rem;
  height: auto;
  margin: 1rem;

 
}
.text {
  padding: 1rem;
  height: auto;
  box-shadow: 2px 5px 10px var(--grey);
}

 .card-title {
font-size: 2rem;

}


.rebajas .card {
  height: 37rem;
}



/* login */

.login {
 
  box-shadow: 2px 5px 10px var(--grey);
  padding: 1rem;
  display: flex;
  width: 100%;
  height: 28rem;
  flex-direction: column;
  justify-content: center;
  
}

.login label {
  font-size: 2.2rem;
  margin: 1rem;
} 

.login input {
 padding: .8rem;
}


.login button {
  margin: 2rem;
  font-size: 1.7rem;
  background-color: var(--colorprimary);
  color: white;
  border-radius: 0.5rem;
  transition: .5s;
  border: none;
}


.login button:hover {
  color: var(--colorprimary);
  background-color: var(--grey) ;
}


.loginbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginbox img {
  border-radius: .5rem;
}



/* create account */


.formcreate{
  box-shadow: 2px 5px 10px var(--grey);
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  flex-direction: column;
} 



.formcreate label {
  font-size: 1.5rem;
  margin: 1rem;
}

.formcreate input {
 padding:.5rem;
 font-weight: bold;
}

.formcreate button {
  
  margin-top: 2rem;
  font-size: 1.8rem;
  border: none;
  background-color: var(--colorprimary);
  color:var(--colorsecundary);
  transition: .5s;
  border: 1px solid transparent;
}


.formcreate button:hover{
  color: var(--colorprimary);
  background-color: var(--colorsecundary);
  border: 1px solid var(--colorprimary);

}

 .imgcreate {
  border-radius: .3rem;
}

.card a {
  background-color: transparent;
}


.productshop label {
  font-size: 2rem;
}

.imgproduct {
  height: 45rem;
 
}

.titleproduct {
  font-size: 4rem;
  font-weight: bold;
}

.description{
  font-size: 2.5rem;
}

select {
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  background-color: var(--grey);
  color: var(--colorsecundary);
  border-radius: .5rem;
}

select option {
  background-color: var(--colorprimary);
  color: var(--colorsecundary);
  font-size: 1rem;
}

.buy {
  width: 20rem;
  height: 3rem;
  font-size: 1.5rem;
}


/* cart */

.cart {
  background-color: var(---grey-ligth);
  display: none;
  padding: 32px ;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 400px;
  z-index: 1;
  border: 1px solid black;

}


.cart img {
  aspect-ratio: 16/9;
  width: 100%;
}

.cart li {
  border-button: 1px solid #444;
  padding-bottom: 16px;
  padding-top: 4rem;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

}

.cart footer button {
  padding: 8px;
}


.cart-button {
  align-items: center;
  
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  z-index: 9999;
}

.cart-button:hover{
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: auto;
  display: block;
}

